Repository pydata/pydata-sphinx-theme, pull requests merged in 2023-11, with the labels that each got.

#1561 Resolve current sidebar link notch and focus ring
  src/pydata_sphinx_theme/assets/styles/abstracts/_links.scss
  src/pydata_sphinx_theme/assets/styles/base/_base.scss
  src/pydata_sphinx_theme/assets/styles/components/_switcher-version.scss
  src/pydata_sphinx_theme/assets/styles/components/_toc-inpage.scss
  src/pydata_sphinx_theme/assets/styles/sections/_header.scss
  src/pydata_sphinx_theme/assets/styles/sections/_sidebar-primary.scss
  src/pydata_sphinx_theme/assets/styles/variables/_layout.scss
Labels: tag: CSS, tag: accessibility

#1555 Restyle Sphinx Design tabs
  src/pydata_sphinx_theme/assets/styles/extensions/_sphinx_design.scss
Labels: tag: design, tag: accessibility

#1558 Obviate background-from-color-variable
  docs/_static/custom.css
  src/pydata_sphinx_theme/assets/styles/abstracts/_color.scss
  src/pydata_sphinx_theme/assets/styles/content/_admonitions.scss
  src/pydata_sphinx_theme/assets/styles/content/_quotes.scss
  src/pydata_sphinx_theme/assets/styles/content/_spans.scss
  src/pydata_sphinx_theme/assets/styles/extensions/_sphinx_design.scss
Labels: tag: CSS

#1560 fix: increase margins of autosummary tables
  src/pydata_sphinx_theme/assets/styles/content/_api.scss
Labels: tag: CSS
