Repository pydata/pydata-sphinx-theme, pull requests merged in 2024-10, with the labels that each got.

#1999 Update localisation catalogue
  src/pydata_sphinx_theme/locale/ca/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/cs/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/en/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/es/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/fr/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/it/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/ja/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/ru/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/sphinx.pot
  src/pydata_sphinx_theme/locale/zh/LC_MESSAGES/sphinx.po
Labels: kind: bug, impact: block-release, tag: i18N

#1998 BUG - Remove cruft symbols
  src/pydata_sphinx_theme/theme/pydata_sphinx_theme/components/search-button.html
Labels: kind: bug

#1966 Draft script to find diverging links
  docs/community/topics/dependencies-js.md
  docs/community/topics/manual-dev.md
  docs/user_guide/accessibility.md
  docs/user_guide/indices.rst
  tools/divergent_links.py
Labels: tag: accessibility, kind: maintenance

#2007 change color when hovering over code-formatted text
  src/pydata_sphinx_theme/assets/styles/content/_code.scss
  tests/sites/colors/conf.py
  tests/sites/colors/index.rst
  tests/test_playwright.py
Labels: kind: bug, tag: CSS
