Repository pydata/pydata-sphinx-theme, pull requests merged in 2024-11, with the labels that each got.

#1993 MAINT - Bump node version (22.x)
  pyproject.toml
Labels: tag: dependencies

#2039 Update accessibility docs
  docs/community/topics/accessibility.md
  docs/user_guide/accessibility.md
  docs/user_guide/web-components.rst
  src/pydata_sphinx_theme/theme/pydata_sphinx_theme/components/navbar-logo.html
Labels: kind: documentation, tag: accessibility

#2049 LINT - Run updated pre-commit hooks
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  docs/_extension/component_directive.py
  docs/_extension/gallery_directive.py
  docs/conf.py
  docs/examples/pydata.ipynb
  docs/scripts/generate_collaborators_gallery.py
  docs/scripts/update_kitchen_sink.py
  docs/user_guide/layout.rst
  pyproject.toml
  src/pydata_sphinx_theme/__init__.py
  src/pydata_sphinx_theme/edit_this_page.py
  src/pydata_sphinx_theme/locale/ca/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/cs/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/en/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/es/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/fr/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/it/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/ja/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/ru/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/locale/sphinx.pot
  src/pydata_sphinx_theme/locale/zh/LC_MESSAGES/sphinx.po
  src/pydata_sphinx_theme/logo.py
  src/pydata_sphinx_theme/short_link.py
  src/pydata_sphinx_theme/theme/pydata_sphinx_theme/components/search-button-field.html
  src/pydata_sphinx_theme/theme/pydata_sphinx_theme/layout.html
  src/pydata_sphinx_theme/toctree.py
  src/pydata_sphinx_theme/translator.py
  src/pydata_sphinx_theme/utils.py
  tests/conftest.py
  tests/test_a11y.py
  tests/test_build.py
  tests/test_playwright.py
  tests/test_short_url.py
  tests/utils/check_warnings.py
  tools/divergent_links.py
  tools/profile.py
  tox.ini
  webpack.config.js
Labels: kind: maintenance

#2058 Fix colour variables
  docs/community/design-system.md
  src/pydata_sphinx_theme/assets/styles/base/_base.scss
  src/pydata_sphinx_theme/assets/styles/extensions/_sphinx_design.scss
  src/pydata_sphinx_theme/assets/styles/variables/_color.scss
Labels: kind: bug, tag: CSS
